.basket {
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: stretch;
  z-index: 100;
  transform: translatex(-100%);
  width: 350px;
  min-height: 100vh;
  height: 100%;
  min-height: 100vh;
  transition: transform 1s;
  &__main {
    position: relative;
    background-color: #fff;
    z-index: 105;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  &__tab {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(144, 200, 200);
    height: 100%;
    width: 20px;
    transform: translateX(100%);
    box-shadow: 0.5rem 0 2rem rgba(0, 0, 0, 0.5);
  }
  &__list {
    text-align: left;
    margin-top: 5rem;
    padding: 0;
    list-style-type: none;
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    padding: 2rem 1.2rem;
    background-color: rgba(144, 200, 200, 0.5);
  }

  &__item:nth-last-of-type(even) {
    background-color: rgb(255, 255, 255);
  }

  &__tab-icon {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translatey(-50%) translateX(-40%);
    width: 5rem;
    height: 5rem;
    background-color: rgba(144, 200, 200, 1);
    border-radius: 50%;
    cursor: pointer;

    &:hover .basket-icon {
      color: rgba(207, 218, 218, 0.5);
    }
  }
  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 5px;
  }

  &__btn .fa-trash {
    font-size: 1rem;
    transform: translatey(-0.25rem);
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & p {
    margin: 0 auto 0 1rem;
  }

  & .price {
    margin-left: auto;
    margin-right: 3rem;
  }

  & span {
    display: inline-block;
  }

  & .qty {
    width: 3rem;
  }
}

.visible {
  transform: translatex(0);
}

.basket-icon {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translatex(-50%) translatey(-50%);
  color: #fff;
}

.payNowButton {
  padding: 3rem;
}
