.basket {
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  z-index: 100;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  width: 350px;
  min-height: 100vh;
  height: 100%;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.basket__main {
  position: relative;
  background-color: #fff;
  z-index: 105;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.basket__tab {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #90c8c8;
  height: 100%;
  width: 20px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-box-shadow: 0.5rem 0 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0.5rem 0 2rem rgba(0, 0, 0, 0.5);
}

.basket__list {
  text-align: left;
  margin-top: 5rem;
  padding: 0;
  list-style-type: none;
  width: 100%;
  max-width: 800px;
  margin: auto;
  height: 100%;
}

.basket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  width: 100%;
  padding: 2rem 1.2rem;
  background-color: rgba(144, 200, 200, 0.5);
}

.basket__item:nth-last-of-type(even) {
  background-color: white;
}

.basket__tab-icon {
  position: absolute;
  top: 50vh;
  left: 50%;
  -webkit-transform: translatey(-50%) translateX(-40%);
          transform: translatey(-50%) translateX(-40%);
  width: 5rem;
  height: 5rem;
  background-color: #90c8c8;
  border-radius: 50%;
  cursor: pointer;
}

.basket__tab-icon:hover .basket-icon {
  color: rgba(207, 218, 218, 0.5);
}

.basket__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 2rem;
  margin-left: 5px;
}

.basket__btn .fa-trash {
  font-size: 1rem;
  -webkit-transform: translatey(-0.25rem);
          transform: translatey(-0.25rem);
}

.basket__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket p {
  margin: 0 auto 0 1rem;
}

.basket .price {
  margin-left: auto;
  margin-right: 3rem;
}

.basket span {
  display: inline-block;
}

.basket .qty {
  width: 3rem;
}

.visible {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.basket-icon {
  font-size: 2.2rem;
  position: absolute;
  top: 50%;
  left: 60%;
  -webkit-transform: translatex(-50%) translatey(-50%);
          transform: translatex(-50%) translatey(-50%);
  color: #fff;
}

.payNowButton {
  padding: 3rem;
}
/*# sourceMappingURL=basket.css.map */